<%= nested_form_for(@gyn_exam) do |f| %>
  <% if @gyn_exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gyn_exam.errors.count, "error") %> prohibited this gynecologic_examination from being saved:</h2>

      <ul>
      <% @gyn_exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <span class="on_one_line">
      <%= f.label :uterine_length %><br />
      <%= f.number_field :uterine_length, :style => "width:50px;", :step => "any" %>
    </span>
  </div>
  <fieldset>
    <legend>Left ovary</legend>
    <%= f.fields_for :left_ovary do |builder| %>
      <%= render "ovary_form", :f => builder %>
    <% end %>
  </fieldset>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
