<div class="fields">
  <span class="on_one_line">
    <%= f.label :length %><br />
    <%= f.number_field :length, :style => "width:50px;", :step => "any" %>
  </span>
</div>
<div class="fields">
  Formations:
  <%= f.fields_for :formations do |builder| %>
    <span class="on_one_line">
      <%= builder.label :size %><br />
      <%= builder.number_field :size, :style => "width:50px;", :step => "any" %>
    </span>
    <span class="on_one_line"><br />
      <%= f.link_to_remove "Remove" %>
    </span>
    <div class="fields">
      <%= builder.fields_for :chambers do |ch| %>
        <span class="on_one_line">&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span class="on_one_line">
          <%= ch.label :size %><br />
          <%= ch.number_field :size, :style => "width:50px;", :step => "any" %>
        </span>
        <span class="on_one_line"><br />
          <%= ch.link_to_remove "Remove" %>
        </span>
      <% end %>
      <%= builder.link_to_add "Add a chamber", :chambers %>
    </div>
  <% end %>
  <%= f.link_to_add "Add a formation", :formations %>
</div>