<h1>List of gynecologic examinations</h1>

<table>
  <tr>
    <th>Uterine length</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gyn_exams.each do |gyn_exam| %>
  <tr>
    <td><%= gyn_exam.uterine_length %></td>
    <td><%= link_to 'Show', gyn_exam %></td>
    <td><%= link_to 'Edit', edit_gynecologic_examination_path(gyn_exam) %></td>
    <td><%= link_to 'Destroy', gyn_exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gynecologic examination', new_gynecologic_examination_path %>
