<p id="notice"><%= notice %></p>
<p>
  Uterine length: <%= @gyn_exam.uterine_length %><br />
</p>

<%= render :partial => "ovary_display", :locals => { :ovary => @gyn_exam.left_ovary, :orientation => "Left" } %>
<%= render :partial => "ovary_display", :locals => { :ovary => @gyn_exam.right_ovary, :orientation => "Right" } %>

<p class="noprint">
  <%= link_to 'Edit', edit_gynecologic_examination_path(@gyn_exam) %> |
  <%= link_to 'Delete', @gyn_exam, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>