<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation" class="noprint">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :patronymic %><br />
    <%= f.text_field :patronymic %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_field :dob, :id => "datepicker", :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.collection_select :sex_id, Sex.all, :id, :value %>
  </div>
  <div class="field">
    <%= f.fields_for :address do |builder| %>
      <%= render "address", :f => builder %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :size => 15 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
